body {
	color: black;
	background: #eee;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

a {
	color: white;
	background-color: #666;
	text-shadow: none;
	padding: 0.3em;
	border-radius: 0.3em;
	text-decoration: none;
	
	-webkit-transition-property: background-color;
	-moz-transition-property: background-color;
	-ms-transition-property: background-color;
	-o-transition-property: background-color;
	transition-property: background-color;
	
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

	a:hover {
		background-color: #999;
	}

h1 {
	text-transform: lowercase;
	font-size: 4em;
	margin: 0 0 0 0.2em;
}

h2 {
	text-transform: lowercase;
	background: #795;
	padding: 16px 0 16px 16px;
	margin: 0;
	color: white;
	text-shadow: 0 1px black;
}

.content {
	padding: 0 16px 8px 16px;
}

.content-bottom {
	padding: 0 16px;
	border-bottom: 0;
}

.accent-heavy {
	font-weight: bold;
	padding-right: 8px;
	margin-right: 4px;
	border-right: 2px solid gray;
}

.accent-light {
	font-style: italic;
}

#main {
	display: block;
	width: 50em;
	margin: 0 auto;
	padding: 0;
}

#green {
	color: white;
	background: #584;
	text-shadow: 0 1px black;
	border-top: 4px solid #362;
}
	
	#green a {
		background-color: #362;
	}

	#green a:hover {
		background-color: #473;
	}
	
	.address {
		list-style-type: none;
		padding: 0;
		margin-left: 0;
	}
	
		.address li {
			display: inline;
			padding-right: 8px;
			margin-right: 4px;
			border-right: 2px solid #362;
		}
		
		.address li.last {
			padding-right: 0;
			margin-right: 0;
			border-right: none;
		}
		
	#status {
		margin-bottom: 16px;
	}

#blue h2 {
	background: #07a;
	border-top: 4px solid #058;
}

#orange h2 {
	background: #c50;
	border-top: 4px solid #a30;
}

#red h2 {
	background: #933;
	border-top: 4px solid #711;
}

#purple h2 {
	background: #639;
	border-top: 4px solid #417;
}

#black h2 {
	background: #333;
	border-top: 4px solid #111;
}

#intro {
  padding-top: 1em;
}

#intro h3 {
  color: black;
	padding: 0 16px 8px 16px;
	margin: 0;
	text-transform: lowercase;
}

.section {
  background-color: white;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.videos a {
  color: #111;
  background-color: #eee;
}

.videos a:hover {
  background-color: #999;
}

.videobox {
  border-bottom: 1px dotted #999;
  margin-bottom: 1em;
}

#footer {
  padding: 1em 0;
	margin: 3em 0;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
}