body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

::-moz-selection {
  background: #222;
  color: #fff;
}
::selection {
  background: #222;
  color: #fff;
}

a {
  color: #444;
  text-decoration: none;
  display: inline-block;
  position: relative;
  border-bottom: 0.15em solid #666;
  transition: color 0.25s, background-color 0.25s;
}

a:hover {
  color: #666;
  background-color: #eee;
}

strong {
  font-weight: 500;
}

.infobox {
  position: absolute;
  top: 1em;
  left: 1em;
  margin-right: 1em;
  color: #222;
  background-color: white;
}

.infobox h1 {
  font-weight: 900;
  margin: 0;
}

.infobox p {
  margin: 0.2em 0;
  max-width: 50em;
}

.infobox section {
  margin: 1em;
  position: relative;
  z-index: 1;
}

#anim {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
