html {
  min-height: 100vh;
}

body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#flex {
  display: grid;
  grid-template-columns: 1fr fit-content(50em) 1fr;
  grid-template-rows: 1fr fit-content(10em) 1fr;
  align-items: stretch;
  justify-content: center;
  min-height: 100vh;
}

::-moz-selection {
  background: #222;
  color: #fff;
}
::selection {
  background: #222;
  color: #fff;
}

a {
  color: #444;
  text-decoration: none;
  display: inline-block;
  position: relative;
  border-bottom: 0.15em solid #447539;
  margin-bottom: 0.15em;
  transition: color 0.25s, border-bottom 0.25s, margin-bottom 0.25s;
}

a:hover {
  border-bottom: 0.3em solid #5B9C4C;
  margin-bottom: 0em;
}

strong {
  font-weight: 500;
  color: #333;
}

.infobox {
  padding: 1em;
  color: #222;
  background-color: #f0f0f0;
}

.infobox h1 {
  font-weight: 900;
  margin: 0;
  color: #447539;
}

.infobox p {
  margin: 0.2em 0;
}

.infobox section {
  margin: 1em;
  position: relative;
  z-index: 1;
}

.green1
{
  background-color: #305228;
}

.green2
{
  background-color: #80DB6B;
}

.green3
{
  background-color: #538F46;
}

.green4
{
  background-color: #5B9C4C;
}

.green5
{
  background-color: #447539;
}
