html {
  min-height: 100vh;
}

body {
  font-family: 'Courier Prime', 'Courier New', Courier, monospace;
  letter-spacing: -0.02em;
  margin: 0;
  padding: 0;
  background: #efefef;
}

::-moz-selection {
  background: #222;
  color: #fff;
}
::selection {
  background: #222;
  color: #fff;
}

a {
  color: #444;
  text-decoration: none;
  display: inline-block;
  position: relative;
  border-bottom: 0.15em solid #666;
  margin-bottom: 0.15em;
  transition: color 0.25s, border-bottom 0.25s, margin-bottom 0.25s;
}

a:hover {
  border-bottom: 0.3em solid #666;
  margin-bottom: 0em;
}

strong {
  font-weight: 700;
  color: #333;
}

.infobox {
  margin: 0.5em 1em 1em 0.5em;
  padding: 0;
  color: #222;
  background: #fff;
  display: inline-block;
  border: 0.2em solid #333;
  position: relative;
}

.infobox::before {
  content: '';
  position: absolute;
  top: 0.3em;
  bottom: -0.7em;
  left: 0.3em;
  right: -0.7em;
  z-index: -1;
  background-image: radial-gradient(rgb(80, 80, 80) 50%, transparent 60%);
  background-position: bottom right;
  background-size: 3px 3px;
}

.infobox h1 {
  font-weight: 700;
  margin: 0;
  color: #333;
}

.infobox p {
  margin: 0.2em 0;
}

.infobox section {
  margin: 1em;
  position: relative;
}
