html, body {
  margin: 0;
  height: 100%;
  font-family: "Roboto Slab", Georgia, sans-serif;
  font-weight: 400;
  color: #222;
}

#outer {
  height: 100%;

  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;

  -webkit-align-items: stretch;
  align-items: stretch;
}

#flexbox {
  margin: 0;

  /* As a flexbox item of #outer. */
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;

  /* As a flexbox container. */
  display: -webkit-flex;
  display: flex;

  -webkit-align-items: stretch;
  align-items: stretch;
}

#flexbox > div, header {
  padding: 10px 30px 20px 30px;
  box-sizing: border-box;

  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}

#flexbox > header {
  background-color: #333;
  color: #fff;
}

#flexbox > div h1, .h1-space:before {
  font-size: 2em;
  font-weight: 700;
  margin: 0.5em 0;
}

.h1-space:before, .h2-space:before {
  content: "\a0";
  visibility: hidden;
}

#flexbox > div.odd {
  background-color: #eee;
}

a {
  color: #309d2b;
  text-decoration: none;
  transition-property: border-color;
  transition-duration: 0.5s;
  border-color: transparent;
}

a:hover {
  border-bottom: 0.15em solid;
}

header h1 {
  font-size: 4em;
  font-weight: 700;
  margin: 0;
}

header p {
  margin-top: 2em;
}

header a {
  color: #4ecd3a;
}

header h1 a {
  color: #fff;
}

header ul {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
}

h2, .h2-space:before {
  font-size: 1.2em;
  font-weight: 700;
  color: #444;
  margin: 1em 0;
}

.tolkien p {
  margin: 0;
}

#render-demo {
  display: inline-block;
  position: relative;
  width: 450px;
  height: 337px;
}

#render-demo-static {
  position: absolute;
  top: 0;
  left: 0;
}

#render-demo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  visibility: hidden;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
}

#render-demo-overlay div {
  margin: 1em;
}

#render-demo-overlay:hover {
  opacity: 1;
}

#render-demo-pnacl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  visibility: hidden;
}

#render-demo-stats {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  padding: 0.5em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

::-moz-selection {
  color: #222;
  background: #4ecd3a;
}

::selection {
  color: #222;
  background: #4ecd3a;
}

@media only screen and (max-width: 600px) and (orientation: portrait), only print {
  #flexbox {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  #flexbox > header, #flexbox > div {
    min-width: 400px;
    max-width: 100%;
    overflow-x: hidden;
  }

  #flexbox > div.continue {
    padding-top: 0;
  }

  #flexbox > div.notitle {
    padding-top: 0;
  }

  .h1-space:before, .h2-space:before {
    /* No spacer when vertical. */
    display: none;
  }
}

@media only screen and (min-width: 601px), only screen and (orientation: landscape) {
  #flexbox {
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  #flexbox > header {
    width: 400px;
  }

  #flexbox > div {
    width: 600px;
  }

  #flexbox > div.tiny {
    width: 400px;
  }

  #flexbox > div.short {
    width: 500px;
  }

  #flexbox > div.continue {
    padding-left: 0;
  }

  #flexbox > div.notitle {
    padding-top: 20px;
  }

  #flexbox > div h1 {
    width: 300px;
  }

  header h1 {
    width: 300px;
  }

  .h1-space:before, .h2-space:before {
    /* Need a spacer to align empty title when horizontal. */
    display: block;
  }
}
