html, body {
  margin: 0;
  height: 100%;
  font-family: "Roboto Slab", Georgia, sans-serif;
  font-weight: 400;
  color: #222;
}

#outer {
  height: 100%;

  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;

  -webkit-align-items: stretch;
  align-items: stretch;
}

#flexbox {
  margin: 0;

  /* As a flexbox item of #outer. */
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;

  /* As a flexbox container. */
  display: -webkit-flex;
  display: flex;

  -webkit-align-items: stretch;
  align-items: stretch;
}

#flexbox > div, header {
  padding: 10px 30px 20px 30px;
  box-sizing: border-box;

  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}

#flexbox > header {
  background-color: #333;
  color: #fff;
}

#flexbox > div h1 {
  font-size: 2em;
  font-weight: 700;
  margin: 0.5em 0;
  width: 300px;
}

#flexbox > div.odd {
  background-color: #eee;
}

a {
  color: #309d2b;
  text-decoration: none;
  transition-property: border-color;
  transition-duration: 0.5s;
  border-color: transparent;
}

a:hover {
  border-bottom: 0.15em solid;
}

header h1 {
  font-size: 4em;
  font-weight: 700;
  margin: 0;
  width: 300px;
}

header p {
  margin-top: 2em;
}

header a {
  color: #4ecd3a;
}

header h1 a {
  color: #fff;
}

header ul {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
}

h2 {
  font-size: 1.2em;
  font-weight: 700;
  color: #444;
}

.tolkien p {
  margin: 0;
}

.dummy {
  visibility: hidden;
}

::-moz-selection {
  color: #222;
  background: #4ecd3a;
}

::selection {
  color: #222;
  background: #4ecd3a;
}

@media only screen and (max-width: 600px) and (orientation: portrait), only print {
  #flexbox {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  #flexbox > header, #flexbox > div {
    min-width: 400px;
    max-width: 100%;
    overflow-x: hidden;
  }

  #flexbox > div.continue {
    padding-top: 0;
  }

  #flexbox > div.notitle {
    padding-top: 0;
  }

  .dummy {
    display: none;
  }
}

@media only screen and (min-width: 601px), only screen and (orientation: landscape) {
  #flexbox {
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  #flexbox > header {
    width: 400px;
  }

  #flexbox > div {
    width: 600px;
  }

  #flexbox > div.tiny {
    width: 400px;
  }

  #flexbox > div.short {
    width: 500px;
  }

  #flexbox > div.continue {
    padding-left: 0;
  }

  #flexbox > div.notitle {
    padding-top: 20px;
  }
}
