html, body {
  margin: 0;
  height: 100%;
  font-family: "Roboto Slab", Arial, serif;
  font-weight: 400;
  color: #222;
}

#flexbox {
  min-height: 100%;
  margin: 0;

  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  flex-direction: row;

  -webkit-align-items: stretch;
  align-items: stretch;
}

#flexbox > div, header {
  padding: 10px 30px 20px 30px;
  box-sizing: border-box;

  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}

#flexbox > header {
  width: 400px;
  background-color: #333;
  color: #fff;
}

#flexbox > div {
  width: 600px;
}

#flexbox > div h1 {
  font-size: 2em;
  font-weight: 700;
  margin: 0.5em 0;
  width: 300px;
}

#flexbox > div.continue {
  padding-left: 0;
}

#flexbox > div.notitle {
  padding-top: 20px;
}

#flexbox > div.tiny {
  width: 400px;
}

#flexbox > div.short {
  width: 500px;
}

#flexbox > div.odd {
  background-color: #eee;
}

a {
  color: #309d2b;
  text-decoration: none;
  transition-property: border-color;
  transition-duration: 0.5s;
  border-color: transparent;
}

a:hover {
  border-bottom: 0.15em solid;
}

header h1 {
  font-size: 4em;
  font-weight: 700;
  margin: 0;
  width: 300px;
}

header p {
  margin-top: 2em;
}

header a {
  color: #4ecd3a;
}

header h1 a {
  color: #fff;
}

header ul {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
}

h2 {
  font-size: 1.2em;
  font-weight: 700;
  color: #444;
}

.tolkien p {
  margin: 0;
}

.dummy {
  visibility: hidden;
}
