<!DOCTYPE html>
<html>
  <head>
    <title>Steven Dao | {{ page.title }}</title>
    <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/nomnomnom.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta charset="utf-8">
    <meta name="description" content="Programmer and technical artist. UT Austin graduate.">
    <meta name="viewport" content="width=400">
  </head>

  <body>
    <div id="outer">
      <div id="flexbox">
        <nav>
          <h1><a href="/">Steven Dao</a></h1>
          <ul class="sections">
            {% for site_page in site.data.nav %}
              {% if page.url == site_page.url %}
                <li><a href="{{ site_page.display_url }}" class="selected">{{ site_page.title }}</a></li>
              {% else %}
                <li><a href="{{ site_page.display_url }}">{{ site_page.title }}</a></li>
              {% endif %}
            {% endfor %}
            
            <!-- Put external links here -->
            <li><a href="http://blog.sdao.me">Blog <i class="fa fa-external-link"></i></a></li>
          </ul>
          <div class="footer-sidebar">
            {% include footer.html %}
          </div>
        </nav>
        {{ content }}
        <footer>
          {% include footer.html %}
        </footer>
      </div>
    </div>
  </body>
</html>
